<g class="point {{invisible}}" data-order="{{order}}">
    <circle vector-effect="non-scaling-stroke" class="pointCircle" cx="{{x}}" cy="{{y}}" r="{{r}}" />
    <circle vector-effect="non-scaling-stroke" class="pointCircleOuter" cx="{{x}}" cy="{{y}}" r="0" />
</g>