<div class="spotify">
    <input class="spotify__input" placeholder="Rechercher un titre" type="search"/>
    <div class="results"></div>
</div>
<div class="player"></div>
<script src="https://sdk.scdn.co/spotify-player.js"></script>