#audioManager
    position: absolute
    bottom: 15vh
    left: 0
    width: 100%
    margin-top: 16px
    color: white

    .audioWrapper
        height: 10vh
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .center
            padding: 0 48px

            &.sine
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

            img
                height: 16px
                width: auto