#eyetrackingManager, #sumup
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index 1
    opacity 0
    transition: opacity 1s ease
    will-change: opacity

    svg
        position: relative

        circle, ellipse
            filter: drop-shadow( 0 0 3px white)

        defs
            .pupilWhite
                fill: white
                stroke: white
                stroke-width: 3px
            .pupilBlack
                filter: none
                fill: black
                stroke: black
            .pupilStroke
                fill: white
                stroke: black
                stroke-width: 3px
            .noDrop
                filter: none

        .eyeCircles
            fill: none
            stroke: white
            stroke-width: 3px

        .pupilCenter
            position: absolute
            width: 0
            height: 0

#eyetrackingManager
    filter: blur(20px)
    transition: opacity 2s ease, filter 2s ease
    will-change: transform, filter
    display: none

    svg
        & > g
            will-change: transform
            transform: translateY(25vh)

        .point
            opacity: 1
            visibility: visible
            transition: opacity 0.5s ease

            &.invisible
                visibility: hidden
                opacity: 0
                transition: opacity 0.5s ease, visibility 0s 0.5s ease

            .pointCircle
                fill: white
                cursor: pointer


        .pointCircleOuter
            fill: none
            stroke: white
            stroke-width: 3px