.dg.ac
    z-index 1000 !important

#intro, .intro
    height: 100vh
    width: 100vw
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    opacity 1
    transition: opacity 0.5s ease
    will-change: opacity
    pointer-events: none

    .title
        z-index: 200
        height: min-content
        color: white
        font-family: 'Displace'
        font-size: 5.938rem
        text-transform: uppercase
        transition: opacity 0.5s ease
        pointer-events: none
        transform: scale(0.7)
        position relative
        top 10px

        svg
            filter: drop-shadow(0 0 1.25rem rgba(255,255,255,0.8)) drop-shadow(0 0 31.25rem rgba(255,255,255,0.5));

    .holdText
        z-index: 200
        font-family: 'Lato', sans-serif
        text-transform: uppercase
        font-size: 1rem
        text-align: center
        color: white
        filter: drop-shadow(0 0 3px white)
        opacity: 0
        display: none
        transition: opacity 1s ease

    .headphone
        opacity: 0
        transition: opacity 1s ease
        display: none
        z-index: 200
        height: 3.5rem
        filter: drop-shadow(0 0 3px white)

    .fade
        top: 0vh
        left: 0vh
        position: absolute
        height: 100%
        width: 100%
        background-color: rgba(255, 255, 255, 0)

    .canvas-full
        overflow: hidden
        transform-origin: left
        will-change: width
        transition: width 1.5s ease
        position: absolute
        top: 0
        left: 0
        width 0

    canvas
        position: absolute
        top: 0
        left: 0
        height: 100vh

        &#full
            position: relative
            width: 100vw

        &#right
            right: 0
            left: initial

        &:not(#full)
            opacity: 1
            width: 50vw
            transition: width 1s ease, transform 6s ease, opacity 1s ease

#intro, .intro, #sumup
    .bg-wrapper
        height: 140vw
        width: 140vw
        position: absolute
        top: -80vh
        left: -30vh
        animation: rotating 12s linear infinite

    .bg
        top: 0vh
        left: 0vh
        position: absolute
        height: 100%
        width: 100%
        background: linear-gradient(rgb(254, 224, 200), rgb(190, 224, 193))
        animation: spinning 6s linear infinite

@keyframes spinning {
    0% {
        transform: translate(0, -20vh);
    }
    25% {
        transform: translate(20vh, 0);

    }
    50% {
        transform: translate(0, 20vh);
    }
    75% {
        transform: translate(-20vh, 0);

    }
    100% {
        transform: translate(0, -20vh);
    }
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}