#intro
    height: 100vh
    width: 100vw
    position: absolute
    top: 0
    left: 0

    .bg
        display: flex
        height: 140vh
        width: 140vw
        position: absolute
        top: -20vh
        left: -20vh
        background: linear-gradient(rgb(254, 224, 200), rgb(190, 224, 193))
        animation: spinning 6s linear infinite

@keyframes spinning {
    0% {
        // background: linear-gradient(rgb(254, 224, 200) 25%, rgb(190, 224, 193) 75%)
        transform: translate(0, -20vh);
    }
    25% {
        transform: translate(20vh, 0);

    }
    50% {
        // background: linear-gradient(rgb(254, 224, 200) 75%, rgb(190, 224, 193) 25%)
        transform: translate(0, 20vh);
    }
    75% {
        transform: translate(-20vh, 0);

    }
    100% {
        // background: linear-gradient(rgb(254, 224, 200) 25%, rgb(190, 224, 193) 75%)
        transform: translate(0, -20vh);
    }
}