#audioManager
    .audioWrapper.spotify
        justify-content: space-between
        align-items: flex-end

        .left, .right
            height: 50%
            flex-grow: 1
            border-top: 1px solid white

        .center
            height: 100%
            display: flex
            justify-content: center
            align-items: center

            img
                margin-right: 16px

            .inputWrapper
                .placeholder
                    height: 0
                    visibility: hidden

                input
                    width: 100%
                    background: none
                    outline: none
                    border: none
                    color: white

                    &::placeholder
                        color: white

            .results
                position: absolute
                color white
                font-family: Arial, Helvetica, sans-serif
                background: #0002
                padding: 0.5rem 1rem
                top: 100%

                p
                    cursor pointer

    .player
        position absolute
        bottom 10px
        left 20%
        right: 20%