#sumup
    pointer-events: none

    .bg-wrapper
        display: none

    .dataWrapper
        position: absolute
        top: 50%
        left: 50%
        color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 50%
        overflow: hidden
        transform: translate(-50%, -50%)

        .data
            position: absolute
            top: 50%
            left: 50%
            min-width: 100%
            transform: translate(-50%, -50%)

            .title
                font-family: 'Lato', sans-serif
                text-transform: uppercase
                font-size: 0.7rem
                text-align: center
                margin-bottom: 0.25rem
                filter: drop-shadow(0 0 3px white)

            .word
                font-family: 'Displace'
                font-size: 5.938rem
                text-transform: uppercase
                text-align: center
                filter: drop-shadow(0 0 3px white)

            .moods
                font-family: 'Lato', sans-serif
                text-transform: uppercase
                font-size: 0.7rem
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center

                .mood
                    padding: 0.2rem 0.7rem
                    opacity: 0.6
                    pointer-events: all
                    cursor: default
                    transition: opacity 0.5s ease, filter 0.5s ease

                    &:hover
                        opacity: 1
                        filter: drop-shadow(0 0 3px white)

    svg
        & > g:not('.particles')
            will-change: transform

        & mask circle
            will-change: transform

            &.innerEyeWhite
                fill: white
                filter: none

        .particle
            fill: white
            filter: none
            opacity: 0.3