#worldBuilder
    position absolute
    left 50%
    bottom 0
    width 100%
    height 50vh
    visibility: visible
    opacity: 1
    overflow hidden
    transform: translateX(-50%)
    transition: opacity 1.1s ease, width 0.8s ease

    &.hidden
        visibility: hidden
        opacity: 0
        width: 0%
        transition: opacity 0.8s ease, visibility 0s 0.8s ease, width 0.5s ease

        & canvas
            left: -50vw

    input[type="range"]
        width 100%

    canvas
        position absolute
        width: 100vw
        height: 50vh
        left: 0
        top: 0
        z-index: 100
        transition: left 0.8s ease